@use "../abstracts";

.header {
    background: var(--header-bg-color);
}

.icon {
    filter: var(--icon);
}

.top-bar {
    position: relative;
    @extend %flexAlignCenter;
    justify-content: space-between;
    padding: 30px 0px;

    @include abstracts.screen(lg) {
        padding: 15px 0px;
    }

    @include abstracts.screen(sm) {
        padding: 10px 0px;
    }

    &__more-icon {
        filter: var(--icon);
    }
}

.navbar {
    &__close-btn {
        padding: 10px 10px;
    }
    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        background: #fff;
        translate: -100%;
        transition: translate 0.3s;
        z-index: 10;

        &.show {
            @include abstracts.screen(lg) {
                translate: 0;

                & ~ .navbar__overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;
        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(4px);
            transition: all 0.3s;
            z-index: 9;
        }
    }

    &__list {
        @extend %flexAlignCenter;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        // & .navbar__item:nth-of-type(2) .dropdown {
        //     display: none;
        // }

        // & .navbar__item:nth-of-type(3) .dropdown {
        //     display: none;
        // }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .menu-main__wrapper {
                display: block;
            }
        }
    }

    &__link {
        @extend %flexAlignCenter;
        height: 50px;
        padding: 0px 15px;
        gap: 6px;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.667%;
        @include abstracts.screen(lg) {
            justify-content: space-between;
            width: 100%;
        }
    }
}

.header-cta {
    @extend %flexAlignCenter;
    gap: 20px;

    &__btn {
        @extend %flexAlignCenter;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 8px;
        background: var(--header-cta-bg-color);
        box-shadow: 0 20px 60px 10px var(--header-cta-shadow-color);
        &:first-child {
            padding: 13px;
        }

        @include abstracts.screen(md) {
        }
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--header-cta-separate-color);
        margin: 0 20px;
    }

    &__qut {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--text-color);
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--header-cta-avatar-bg-color);
        box-shadow: 0 4px 14px 2px var(--header-cta-avatar-shadow);
        object-fit: cover;
        display: block;
    }
}
