*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--body-bg-color);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--link-hover-color);
    font-weight: 600;
}

a.logo:hover {
    color: inherit;
}
