<div class="container">
    <div class="top-bar">
        <button class="top-bar__more-btn d-none d-lg-block">
            <img class="top-bar__more-icon icon" src="./assets/icons/more.svg" alt="" />
        </button>
        <a href="#!" class="logo">
            <img class="logo__icon" src="./assets/icons/logo.svg" alt="GroceryMart" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <nav class="navbar d-lg-none">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Departments <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon"/>
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Grocery <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon"/>
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link"
                        >Beauty <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon"/>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-cta">
            <button class="header-cta__btn d-md-none">
                <img src="./assets/icons/search.svg" alt="" class="header-cta__icon icon" />
            </button>
            <button class="header-cta__btn d-md-none">
                <img src="./assets/icons/heart.svg" alt="" class="header-cta__icon icon" />
                <span class="header-cta__qut">03</span>
                <span class="header-cta__separate"></span>
                <img src="./assets/icons/buy.svg" alt="" class="header-cta__icon icon" />
                <span class="header-cta__qut">$99.99</span>
            </button>
            <a class="header-cta__avatar-link" href="#!"
                ><img src="./assets/img/avatar.png" alt="" class="header-cta__avatar"
            /></a>
        </div>
    </div>
</div>
