@use "sass:map";

$breakpoints: (
  xxl: 1440px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

@mixin screen($key) {
  $value: map.get($breakpoints, $key);
  @if $value {
    @media (max-width: ($value - 0.02)) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint: #{$key}";
  }
}